.color {
  color: #fff;
}
.lh-lg {
  line-height: 1.4;
}
.nav-link {
  font-size: .9rem;
    color: #333;
    font-weight: 400;
}
.home-service-col {
  min-height: 150px;
}
.footer .fs-5 {
  font-size: 0.95rem !important; 
}
.footer .h5,
.footer h5 {
  font-size: 1.15rem;
}

.simple-page h2{
  font-size: 2rem !important;
  margin-bottom: 35px;
}

.simple-page h4{
  margin-bottom: 10px;
    margin-top: 5px;
}

a{text-decoration: none;}

.datepicker { font-size: 14px; }

.booking-section .card-header {padding: 0.7rem 1rem;background-color: rgba(0,0,0,.02);}
.booking-section .card-header h5{font-size: 1.15rem;} 

.booking-section .back-link a{ font-size: 15px;  text-decoration: none;}


.booking-form label{ padding-bottom: 7px;}
.booking-form small{ font-size: 13px;}

.booking-form button{ height: 37px;min-width:120px }
.booking-form .required .asterisk{color:#e1010f;}

.booking-form .form-select{font-size: 0.95rem;}

.booking-form .text-danger{width:100%;display: block;}

.booking-form .form-subtitle{font-weight:500;}

.booking-form .form-price-title{font-size:18px; font-weight: 600;}

#btn-phone-booking{
  font-size: 1.1rem;
  background-color: #333;
  margin-bottom: 15px;
}

#btn-form-booking{
  font-size: 1.1rem;
  margin-bottom: 15px;
}

